<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signs</key>
	<array>
		<dict>
			<key>SignImageSizeHeight</key>
			<string>200</string>
			<key>SignImageSizeWidth</key>
			<string>200</string>
			<key>Tid</key>
			<string>1032</string>
			<key>RuleType</key>
			<string>2</string>
			<key>name</key>
			<string>1234xxxx</string>
			<key>IdNumber</key>
			<string>123456789</string>
			<key>cid</key>
			<string>20</string>
			<key>geo</key>
			<string>false</string>
		</dict>
		<dict>
			<key>SignImageSizeHeight</key>
			<string>260</string>
			<key>SignImageSizeWidth</key>
			<string>300</string>
			<key>Tid</key>
			<string>1031</string>
			<key>RuleType</key>
			<string>2</string>
			<key>name</key>
			<string>feifei</string>
			<key>IdNumber</key>
			<string>66666666</string>
			<key>cid</key>
			<string>21</string>
			<key>geo</key>
			<string>true</string>
		</dict>
	</array>
	<key>cameras</key>
	<array>
		<dict>
			<key>cid</key>
			<string>50</string>
			<key>quality</key>
			<string>75</string>
			<key>width</key>
			<string>124</string>
			<key>height</key>
			<string>79</string>
			<key>face</key>
			<string>true</string>
			<key>faceMessage</key>
			<string>找不到脸</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>1</string>
				<key>index</key>
				<string>0</string>
				<key>eniId</key>
				<string>20</string>
				<key>geo</key>
				<string>false</string>
			</dict>
		</dict>
		<dict>
			<key>cid</key>
			<string>51</string>
			<key>quality</key>
			<string>50</string>
			<key>width</key>
			<string>260</string>
			<key>height</key>
			<string>150</string>
			<key>face</key>
			<string>false</string>
			<key>faceMessage</key>
			<string>脸呢</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>0</string>
				<key>index</key>
				<string>1</string>
				<key>eniId</key>
				<string>20</string>
			</dict>
		</dict>
	</array>
	<key>records</key>
	<array>
		<dict>
			<key>showUi</key>
			<string>true</string>
			<key>DurTime</key>
			<string>3.0</string>
			<key>cid</key>
			<string>53</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>1</string>
				<key>index</key>
				<string>0</string>
				<key>eniId</key>
				<string>20</string>
			</dict>
		</dict>
	</array>
	<key>Template</key>
	<dict>
		<key>type</key>
		<string>10</string>
		<key>data</key>
		<string>dch.xml</string>
		<key>styleTid</key>
		<string>112233</string>
	</dict>
	<key>forminfo</key>
	<dict>
		<key>Channel</key>
		<string>1000</string>
		<key>FlowId</key>
		<string>12</string>
		<key>IsSync</key>
		<string>true</string>
		<key>IsUnit</key>
		<string>false</string>
		<key>WONo</key>
		<string>1223</string>
		<key>serverEncType</key>
		<string>RSA</string>
	</dict>
	<key>Cachet</key>
	<dict>
		<key>Tid</key>
		<string>1031</string>
		<key>IsTSS</key>
		<string>true</string>
	</dict>
</dict>
</plist>
